@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgc: #3b82f6; /* bg color */
  --tc: #ffffff; /* txt color */
  --primary-color: #3b82f6;
  --secondary-color: #f4f4f4;
  --text-color: #333;
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  position: sticky;
  width: 100%;
  height: 90px;
  padding: 10px 20px;
  top: 0;
  z-index: 10;
  font-size: 1.875rem; 
  font-weight: bold; 
  color: var(--tc);
  background-color: var(--bgc);
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  padding: 20px;
}

.product-container {
  display: flex;                       
  flex-direction: column;                  
  align-items: center;                    
  background-color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.2s;
}

.product-container:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  padding: 10px 0;
}

.product-description {
  font-size: 1rem;
  color: var(--text-color);
  padding: 10px 0;
}

.logo img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.footer {
  display: flex;
  position: sticky;
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  bottom: 0;
  font-size: 1.875rem; 
  font-weight: bold; 
  color: var(--tc);
  background-color: var(--bgc);
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-image {
  margin-right: 10px;
}

.footer-banner {
  font-size: 18px;
}
