@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgc: #3b82f6; /* bg color */
  --tc: #ffffff; /* txt color */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.container-main {
  display: flex;

  flex-direction: column;
}

.header {
  display: flex;
  position: sticky;
  width: 100%;
  height: 120px;
  padding: 10px;

  top: 0;
 
  font-size: 1.875rem; 
  font-weight: bold; 
  color: var(--tc);

  background-color: var(--bgc)
}

.header-text {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  padding: 20px;
}

.product-container {
  display: flex;                       
  flex-direction: column;                  
  align-items: center;                    
}

.product-image {
  width: 200px;
  height: 200px;
}

.prod-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  padding: 20px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-left: 20px;
  padding-right: 20px;
}


.footer {
  display: flex;
  position: sticky;
  width: 100%;
  height: 70px;
  padding: 10px;

  bottom: 0;
 
  font-size: 1.875rem; 
  font-weight: bold; 
  color: var(--tc);

  background-color: #3b82f6; 
}